{#
/**
 * @file agoraenum_icon.html.twig
 * Default theme implementation of an icon enumeration item.
 *
 * @see template_preprocess_agoraenum_icon()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('agoraenum-item') }}>
  {% if item.icon %}
    <div class="agoraenum-item__icon">
      {{ icon(item.icon) }}
    </div>
  {% endif %}
  {% if item.title %}
    <h3 class="agoraenum-item__title">{{ item.title }}</h3>
  {% endif %}
  {% if item.text %}
    <div class="agoraenum-item__text">{{ item.text }}</div>
  {% endif %}
</div>
